@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');

.record-boundary{
    padding: 5px;
    margin: 0;
}

.state-plate{
    padding: 0 15px;
}

.record-table{
    padding-top: 50px;
}

.state-name{
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #ebd798;
    padding: 3px 10px;
    font-family: 'Averia Serif Libre', cursive;
}

div.row.districts{
    padding-bottom: 50px;
}

.state-district-data{
    padding: 0;
    margin: 0;
    max-height: 50vh;
    overflow-y: scroll;
}

.case-graph{
    padding: 10px 5px 25px 5px;
}


/* @media */
@media screen and (max-width : 600px){
    .state-plate{
        padding: 0;
    }

    .state-name{
        padding:3px 0;
    }

    .districts{
        padding: 0;
        margin: 0;
    }
}