@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');

body{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: sans-serif;
    background-color: #e4e6e8c9;
    color: #ffebcd;
}

.col-12{
    padding: 0;
    margin: 0;
}

div.state-data{
    padding: 0;
    margin: 0;
}

div.state-district-data{
    padding-left: 10px;
    margin: 0;
}

div.row.global-state{
    padding-bottom: 40px;
  }

div.tool-tip{
    padding-left: 20px;
    text-transform: lowercase;
    font-size: .8rem;
}

div.states{
    padding: 40px 10px;
}

div.record-table{
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    max-height: 50vh;
}
div.statewise{
    padding: 5px 50px;
}

div.statewise h5{
    padding-left: 10px;
    font-size: .7rem;
    padding: 0;
    margin: 0;
    font-style: oblique;
    color: #708090;
}

.heading{
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    /* color: #0d8abb; */
    color: red;
    padding: 3px 10px;
    border: 2px solid #ff000f;
    -webkit-box-shadow : 1px 1px 3px #ff000f;
    -moz-box-shadow : 1px 1px 3px #ff000f;
    -o-box-shadow : 1px 1px 3px #ff000f;
    box-shadow : 1px 1px 3px #ff000f;
}

div.state-data{
    padding: 0;
    padding-right: 15px;
    margin: 0;
}


/* @media */
@media screen and (max-width : 600px){
    div.record-table{
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        max-height: 70vh;
    }
}
